.button {
  font: bold 30px Arial;
  text-decoration: none;
  background-color: #FF8D00;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;


}

#search{
font: bold 30px Arial;
background-color: #FFFFFF;
color: white;

}

*{

background-color: black;

}

div{

    display: inline-flex;
    margin-right: auto;



}
