:root {
  --Orange: #FF8D00;
  --Black: #212121;
}

body {background-color: var(--Black);}
nav {background-color: var(--Black);}
header {background-color:var(--Black);}
h1 {background-color:var(--Orange);}

a:link {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}


.flex {display: flex;}

.flex2 {display: flex;
       flex-wrap: wrap;
       margin-left: 70px;
}

.film  {background-color:var(--Orange);
  height: 150px; width: 150px;
  margin: 15px;
}
